.node {
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: inline-block;
}

/*Labels the start and finish node called by extra class funciton */
.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}
